# Mongo
MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB=gdash
MONGO_USER=admin
MONGO_PASSWORD=password123
MONGO_URI=mongodb://admin:password123@mongo:27017/gdash?authSource=admin

# Rabbit
RABBIT_HOST=rabbitmq
RABBIT_PORT=5672
RABBIT_USER=admin
RABBIT_PASSWORD=password123
RABBIT_URL=amqp://admin:password123@rabbitmq:5672/
RABBIT_QUEUE=weather_readings

# Backend
API_PORT=3000
JWT_SECRET=super-secret
JWT_EXPIRES_IN=1d
ADMIN_EMAIL=admin@gdash.com
ADMIN_PASSWORD=password123
ADMIN_NAME=Admin
INTERNAL_API_KEY=internal-token
WEATHER_INSIGHTS_MODE=rule-based

# Collector
OPEN_WEATHER_API_KEY=9eb1dc2a64f16961f23ba960e598a2d8
CITY=Jacareí
LAT=-23.3052
LON=-45.9658
PUBLISH_INTERVAL_SECONDS=3600
COLLECTOR_SERVICE_NAME=collector

# Worker
NEST_API_URL=http://backend:3000
NEST_API_KEY=internal-token
RETRY_MAX=5
RETRY_BACKOFF_MS=500

# Frontend
VITE_API_URL=http://localhost:3000